*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: $very-dark-blue;
    font-family: $family
}

.container {
    @media (min-width: 1026px) {
        margin: 0 100px !important;
    }
    @media (min-width: 768px) and (max-width: 1025px) {
        margin: 0 40px !important;
    }
    margin: 0 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
    background: none;
    transition: .3s linear;
}
