// Fonts
$family: 'Manrope', sans-serif;

// Colors
$light-blue: hsl(179, 80%, 58%);
$dark-blue: hsl(206, 84%, 22%);
$very-dark-blue: hsl(230, 60%, 8%);
$white: hsl(0, 0%, 100%);
$gray: hsl(224, 14%, 53%);
$error-red: hsl(343, 100%, 58%);